.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    background-color: #253B44;
    padding: 0 3rem;
}
ul {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: rem;    
}

li {
    list-style: none;
    margin-left: 1.5rem;
}

a{
    color: azure;
    text-decoration: none;
}

img {
    height: 3.5vh;
}