.header {
    position: sticky;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    background-color: #253B44;
    padding: 0 2rem;
}
ul {
    display: flex;
    justify-content:space-between;
    align-items: center;   
}

li {
    list-style: none;
    margin-left: 1.5rem;
}

a{
    color: azure;
    text-decoration: none;
    transition: border 0.2s ease;
}

a:hover {
    border-bottom: 2px solid #dfb60b;
}

a:focus {
    color: #dfb60b;
}

img {
    height: 3.5vh;
}