body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: azure;
}

.main, .contact, .about, .property {
  margin: 0 2rem;
}

.primary-color {
  color: #253B44;
}

.secondary-color {
  color: azure;
}

